# Environment
entorno/*
class_contagion/configuration/dircam.json
DockerfileBorrador

# Results (videos saved)
class_contagion/outputs/*
!class_contagion/outputs/prueba2023-11-26\ 20:23:00.mp4
!class_contagion/outputs/2023-11-26\ 20:23:05.mp4
!class_contagion/outputs/2023-11-26\ 20:23:24.mp4
!class_contagion/outputs/gif20:23:24.gif

# Cache
#class_contagion/config/__pycache__/
#class_contagion/process/__pycache__/
__pycache__/